body{
    background-color: #EEF9BF;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: auto;
    width:100vw;
}

p{  
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 30px;
    margin-block:15px;
}

h1{
    font-size: 80px;
    text-align: center;
    font-family: 'Silkscreen', cursive;
    margin-block: 25px;
}

.initial-screen{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-mode{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top:30px;
}

.game-mode > *{
    margin-inline-start: 40px;
}

.cards-samples{
    width: 100%;
    display: flex;
    justify-content: space-around;
    overflow-x:hidden;
    margin-bottom:30px;
}
.cards-samples > img{
    width:80px;
    height: 80px;
}

.start-game{
    width: 150px;
    height: 100px;
    background-color: green;
    color:white;
    border-radius: 8px;
}

.start-game:hover{
    background-color: white;
    color:green;
    cursor:pointer;
}

.card{
    position:relative;
    width:117px;
    height: 146px;

    margin:28px;

    transition: all .5s;
    transform-style: preserve-3d;
}

.card-side{
    display:flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top:0;
    left:0;

    background-color: #A7E9AF;
    border: 2px solid #5c8160;

    width: 100%;
    height: 100%;
}

.card-side img{
    width: 82.6%;
    height: 66.6%;
}

.front-side{
    backface-visibility: hidden;
    cursor:pointer;
}

.front-side:hover{
    filter: brightness(115%);
}

.flipped{
    transform: rotateY(180deg);
}

.board{
    display:flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    width:100%;
}

.board-cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width:1048px;
}

.game-info{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.game-info > *{
    display:flex;

    list-style-type: none;
    background-color: #EEF9BF;
    color:black;
    font-size: 30px;
}

.end-game-screen{
    display:flex;
    justify-content: center;
    align-items: center;

    position:fixed;

    top:0;

    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.4);
}

.end-game-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 450px;
    height: 500px;
    
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
}

.end-game-menu > p{
    font-size: 20px;
}

.end-game-menu h2{
    font-size: 42px;
    text-align: center;
    font-family: 'Rubik Iso', cursive;
    color: black;
}






/* 2 PLAYERS STYLE */
.game-info-2p{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin-block:15px;
}


.game-info-2p > *{
    display:flex;
    flex-direction: column;
    align-items: center;
}


.player-1-display{
    text-align: center;
    border: 3px solid black;
    background-color: rgb(0, 233, 0);
    width:250px;
    filter: brightness(35%);
}

.player-2-display{
    text-align: center;
    border: 3px solid black;
    background-color: rgb(255, 28, 28);
    width:250px;
    filter: brightness(25%);
}

.player-turn{
    filter: brightness(120%);
}

/* Mobile Style */
@media (max-width: 600px){
    h1{
       font-size: 50px; 
    }
    
    .end-game-screen{
        width:100%;
        height:100%;
    }

    .end-game-menu{
        width: 100%;
        height: 70%;
        border-radius:0;
    }

    .player-1-display{
        position:fixed;
        width:100%;
        top:0;
        z-index:1;
    }

    .player-2-display{
        position:fixed;
        width:100%;
        bottom:0;
        z-index:1;
    }

    .margin-board-2p-mobile{
        margin-block:100px;
    }

    .game-mode{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 200px;
        margin-top:15px;
    }

    .start-game{
        width: 150px;
        height: 50px;
        background-color: green;
        color:white;
        border-radius: 8px;
        margin:15px;
    }

    .game-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    /* Redução de 30% no tamanho da carta */
    .card{
        width:81.9px;
        height: 102.2px;
        margin:23.8px;
   
    }

    /*font size */
    .game-info-2p p{
        font-size: 15px;
    }
  }



  
  /* Time Trial Style */

  .time-select-screen{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .time-options{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 550px;
  }

  .time-options > *{
    margin-block:20px;
  }
  
  .game-info-time-trial{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .clock{
    width: 100vw;
    height: 40px;
    background-color:#86ff00;
    animation-name: timer;
    animation-timing-function: linear;
  }

  .game-info-time-trial > img{
    width:50px;
    height: 50px;
  }

  .clock-15{
    animation-duration: 15s;
  }

  .clock-30{
    animation-duration: 30s;
  }

  .clock-45{
    animation-duration: 45s;
  }
  
  .clock-60{
    animation-duration: 60s;
  }

  .clock-90{
    animation-duration: 90s;
  }

  .clock-120{
    animation-duration: 120s;
  }

  @keyframes timer {
    to{
    transform: scaleX(0);
    }
    100% {background-color: red;}
  }

  .hide{
    display:None;
}